
/* Typewriter effect 1 */
@keyframes typing {

  1.33%,15.96%{content: "B";}
  2.66%,14.63%{content: "Be";}
  3.99%,13.3%{content: "Bel";}
  5.32%,11.97%{content: "Belk";}
  6.65%,10.64%{content: "Belki";}
  7.98%,9.31%{content: "Belkin";}

  18.52%,27.83%{content: "B";}
  19.85%,26.5%{content: "Be";}
  21.18%,25.17%{content: "Ben";}
  22.51%,23.84%{content: "Benq";}

  29.16%,43.79%{content: "";}
  30.49%,42.46%{content: "C";}
  31.82%,41.13%{content: "Ca";}
  33.15%,39.8%{content: "Cas";}
  34.48%,38.47%{content: "Casi";}
  35.81%,37.14%{content: "Casio";}

  45.12%,65.07%{content: "F";}
  46.45%,63.74%{content: "Fu";}
  47.78%,62.41%{content: "Fuj";}
  49.11%,61.08%{content: "Fuji";}
  50.44%,59.75%{content: "Fujif";}
  51.77%,58.42%{content: "Fujifi";}
  53.1%,57.09%{content: "Fujifil";}
  54.43%,55.76%{content: "Fujifilm";}

  66.04%,78.37%{content: "";}
  67.73%,77.04%{content: "L";}
  69.06%,75.71%{content: "Le";}
  70.39%,74.38%{content: "Leg";}
  71.72%,73.05%{content: "Lego";}

  79.7%,83.69%{content: "L";}
  81.03%,82.36%{content: "LG";}

  85.02%,96.66%{content: "L";}
  86.35%,95.33%{content: "Lo";}
  87.68%,94.00%{content: "Log";}
  89.01%,92.67%{content: "Logi";}
  90.34%,91.34%{content: "Logit";}

  97%,100%{content: "S";}
  97.5%,99.5%{content: "So";}
  98%,99%{content: "Son";}
  98.5%{content: "Sony";}







}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}


.typewriter::before {
  content: "";
  animation: typing 13.5s infinite;
}

.typewriter::after {
  content: "";
  border-right: 1px solid var(--caret);
  animation: blink 0.5s linear infinite;
}

.typewriter.thick::after {
  border-right: 1ch solid var(--caret);
}

.typewriter.nocaret::after {
  border-right: 0;
}


@media (prefers-reduced-motion) {
  .typewriter::after {
    animation: none;
  }
  
  /* @keyframes sequencePopup {
    0%, 100% { content: "developer"; }
    25% { content: "PRONAY"; }
    50% { content: "reader"; }
    75% { content: "human"; }
  } */

  .typewriter::before {
    content: "developer";
    animation: sequencePopup 12s linear infinite;
  }
}

/**/


/* bannar part start here  */
.bannar{
  /* background-image: url(videos/bannar.mp4); */
  background: url(videos/bannar.mp4) no-repeat center center/cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  z-index: 0;
  overflow: hidden;
  /* display: flex;
  align-items: center; */
}
.bannar video{    
  position: absolute;        
  left: 0px;        
  top: 0px;        
  z-index: -1;        
  width: 100%;
  height: 140vh;
  object-fit: cover;
}
.bannar::after{
  position: absolute;
  content: "";
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  /* background-color: #000000a1; */
  z-index: -1;
}
.btn_create{
  color: #fff;
  width: 100%;
  /* border: 1px solid #fff; */
  margin-top: 30px;
  background: #35b555;
  box-shadow: 2px 2px 5px 2px #26623575;
  transition: .4s all ease-in-out;
}
.btn_create:hover{
  color: #000;
  /* border: 1px solid #fff; */
  background: #fff;
}
.btn_find:hover{
  color: #fff;
  /* border: 1px solid #fff; */
  background: #35b555;
}
.btn_find{
  color: #000;
  width: 100%;
  border: 1px solid #fff;
  margin-top: 30px;
  background: #ffffff;
  box-shadow: 2px 2px 5px 2px #26623575;
  /* filter: drop-shadow(2px 4px 6px black); */
  transition: .4s all ease-in-out;
}
.auto_type {


}
.auto_type h1{
  color: #fff;
  font-size: 60px;
  /* box-shadow: 2px 3px 5px 3px #000000ad; */
  filter: drop-shadow(2px 4px 6px #000000ad);
}
.auto_type h2{
  color: #fff;
  margin-top: 30px;
  filter: drop-shadow(2px 4px 6px black);
}
.auto_type h2 span{
  color: #fff;
  font-size: 45px;
  font-weight: 800;
  text-transform: capitalize;
}
.auto_type p{
  color: #fff;
  margin-top: 20px;
  filter: drop-shadow(2px 4px 6px black);
}
.btns{
display: flex;  
justify-content: center;  
align-items: center;  
width: 100%;
}

/* bannar part end here  */

.btn_offer{
  color: #000;
  margin-right: 16px;
  background: #fff;
  border-radius: 50px;
  padding: 10px 20px;
  font-weight: 500;
  transition: .43s all ease-in-out;
  box-shadow: 2px 3px 5px 2px #356c42e8;
}
.btn_offer:hover{
  background-color: #35b555;
  color: #fff;
}
.btn_login{
  color: #fff;
  border-left: 1px solid #fff;
  border-radius: 0px;
  padding-left: 20px;
  font-size: 20px;
  transition: .43s all ease-in-out;
}
.btn_login:hover{
  color: #35b555;
  border-left: 1px solid #fff;
}
.btn_login i{
  margin-right: 5px;
}
.navbar-nav .nav-link {
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  padding: 0px !important;
  margin: 10px;
  position: relative;
  padding-bottom: 10px !important;
  transition: .43s all ease-in-out;
  
}
.navbar-nav .nav-link a{
  padding: 0;
}
.navbar-nav .nav-link::after{
  content: "";
  position:absolute;
  left: 0px;
  bottom: 0px;
  width: 0%;
  background-color: #35b555;
  height: 2px;
  transition: .43s all ease-in-out;
}
.navbar-nav .nav-link:hover::after{
  width: 100%;
  transition: .43s all ease-in-out;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: #35b555;
  font-weight: 600;
  font-size: 18px;
}
.nav_right{
  
  display: flex;
      
  align-items: center;
      
  list-style: none;
      
  margin-left: 10px;
}
.navbar-toggler{

border: 1px solid #fff;
}
.navbar-toggler span{

border: none;
}
.navbar-toggler span i{

color: #fff;
}
.slider_part{
  background-color: transparent;
  padding: 20px 0px;
}
.slide-track{

}
.slide-track .slide{

}
.slide-track .slide img{
  
width: 200px;
  
padding: 5px;
}

/* slider css part start here  */

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
  }
}
@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
  }
}
@-webkit-keyframes scrollTwo {
  0% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes scrollTwo {
  0% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.slider,.sliders {
  /* background: pr; */
  /* box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125); */
  margin: auto;
  overflow: hidden;
  width: 100%;
  background: transparent;
}
.slider::before,
.slider::after,.sliders::before,
.sliders::after {
  /* background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%); */
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after,.sliders::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}
.slider-track .slide img {
  width: 200px;
  padding: 5px;
}
.slider::before,.sliders::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
  animation: scroll 40s linear infinite;
  animation-iteration-count: infinite;
  display: flex;
  width: calc(250px * 14);
}
.sliders .slider-track {
  -webkit-animation: scrollTwo 40s linear infinite;
  animation: scrollTwo 40s linear infinite;
  animation-iteration-count: infinite;
  display: flex;
  width: calc(250px * 14);
}
.slider .slide,.sliders .slide {
  width: 82%;
  /* height: 88px; */
  /* width: 120px; */
  background: transparent;
}

/* slider css part end herer  */

.navbar-brand img{
  width: 100px !important;
}


/* media css  */
@media(max-width:992px){
  .navbar {
    z-index: 9999;
  }
.auto_type h1 {
  font-size: 50px;
}
.auto_type h2 {
  margin-top: 20px;
}
.auto_type p {
  margin-top: 10px;
}
.btn_find {
  margin-top: 10px;
}
.btn_create {
  margin-top: 10px;
}
.navbar-collapse {
  /* background: #8057a51f; */
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0px;
  background: #04020de3;
  min-height: 95%;
  z-index: 2;
  padding: 10px;
  border-radius: 10px !important;
}
}
@media(max-width:820px){
.navbar-brand {
  width: 100px;
}
.nav_right {
  display: unset;
}

.btn_offer {
  margin: 0px;
  margin-bottom: 10px;
}
.btn_login, .btn_login:hover {
  border-left: none;
  background: #fff;
  color: #000;
  padding: 5px 20px;
  border-radius: 50px;
}
.bannar {
  overflow: unset;
}

}
@media (max-width: 768px){
  .bannar video {
    height: 110vh;
  }
  .slide-track .slide img {
    width: 150px;
  }
  .slider-track .slide img {
    width: 150px;
  }
  .owl-carousel .owl-item img {
    width: 60%;
    margin: auto;
  }
  .auto_type h1 {
    font-size: 40px;
  }
  .auto_type h2 {
    margin-top: 10px;
  }
  .auto_type p {
    font-size: 10px;
  }
  .auto_type h2 span {
    font-size: 30px;
  }
  .btn_create, .btn_find {
    font-size: 12px;
  }
}
@media (max-width: 426px){
  
  .slider_part {
    padding: 5px 0px;
  }
  .slide-track .slide img ,.slider-track .slide img {
    width: 100%;
  }
  .auto_type h1 {
    font-size: 30px;
  }
  .btn_create, .btn_find {
    font-size: 8px;
    margin: 0;
  }
  .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    font-size: 14px;
  }
  .navbar-nav .nav-link {
      font-size: 14px;
  }
  .btn_offer{
    font-size: 14px;
  }
  .btn_login {
    font-size: 14px;
  }
}
@media (max-width: 375px){
  .bannar video {
    height: 100vh;
  }
}
@media (max-width: 320px){
  .auto_type h1 {
    font-size: 20px;
  }
  .btn_create, .btn_find {
    padding: 5px 2px;
  }
  
}
